@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-out {
  animation: fadeOut 3s forwards;
}

.animate-slide-in-from-left {
  animation: slideInFromLeft 1s forwards;
}
