/* :root {
  background-image: url("/assets/street.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.body {
  background-image: url("/assets/street.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
